body {
    padding: 0;
    margin: 0;
}

html, body, #map {
    height: 100%;
    width: 100%;
}

.collectibles_list {
    list-style: none;
    padding: 0%;
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.collectibles_list li {
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.collectibles_list li button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 10%;
}

.collectibles_list li:nth-child(even) {
    background-color: dimgray;
}

.leaflet-container {
    background: #738aaf;
}

.marker-custom {
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 14px;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.marker-tags {
    background-image: url(marker/tags.png);
    text-align: center;
    line-height: 40px;
}

.marker-snapshots {
    background-image: url(marker/snapshots.png);
    text-align: center;
    line-height: 40px;
}

.marker-horseshoes {
    background-image: url(marker/horseshoes.png);
    text-align: center;
    line-height: 40px;
}

.marker-oysters {
    background-image: url(marker/oysters.png);
    text-align: center;
    line-height: 40px;
}

.marker-cop_bribes {
    background-image: url(marker/cop_bribes.png);
    text-align: center;
    line-height: 45px;
}
