body {
    padding: 0;
    margin: 0;
}

html, body, #map {
    height: 100%;
    width: 100%;
}

.collectibles_list {
    list-style: none;
    padding: 0%;
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.collectibles_list li {
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.collectibles_list li button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 10%;
}

.collectibles_list li:nth-child(even) {
    background-color: dimgray;
}

.leaflet-container {
    background: #738aaf;
}

.is-fullwidth {
    display: flex;
    width: 100%;
}

.popup-checkbox {
    border-width: 1px;
    padding: calc(0.5em - 1px) 0;
    white-space: nowrap;
    justify-content: center;
    text-align: center;
    appearance: none;
    align-items: center;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid transparent;
    border-color: #b5b5b5;
    cursor: pointer;
}

.popup-title {
    text-align: center;
}
